#Thu Oct 13 15:45:47 IST 2022
mail.smtp.toEmail=ENC1(zC/KRUcJZbaghqO1PLeOKcwYEJQWLzVIaGISbC1CRV7fBSM637x9fbnh0mtHC+w7pBeiDqZMRzrHcF7TVzaGsQ\=\=)
mail.smtp.ssl.enable=false
mail.smtp.other.port=
Encryptor.check=Provar
mail.smtp.starttls.required=false
mail.smtp.host=smtp.gmail.com
mail.smtp.timeout=60000
mail.smtp.starttls.enable=false
mail.smtp.port=587
mail.smtp.username=ENC1(fVuzHTSfnDZK3qW/OmMEPUd17QYko9R4LHmSBIU6Jrzlg7xd5wwAXG9pyhQxXeUX39T/hZkhbbX4HOysplrwgQ\=\=)
mail.smtp.password=ENC1(oxxBzIsYbXzMNKk0vEW3KhVV1BXh2RkjBKMhjwFLRr35JM1irJrKc8Tq27JUnKp5MlaIhmP1fcV0ywEveuqiDA\=\=)
mail.smtp.other.host=
